/*Header Image*/
header {
    background: linear-gradient(rgba(0, 0, 0, 0.127),rgba(0, 0, 0, 0.1)), url(../images/about/me.jpg) center, no-repeat;
    background-size: cover;
  }

  /*Introduction*/

  .introduction {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  .family-img {
    padding: 0 20px;
  }