/*Header Image*/
header {
    background: linear-gradient(rgba(0, 0, 0, 0.127),rgba(0, 0, 0, 0.1)), url(../images/about/me.jpg) center, no-repeat;
    background-size: cover;
  }

  /*Introduction*/

  .more_about-me, .introduction {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .introduction {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
  