/*Header Image*/
header {

  }

section {
    padding: 0;
  }

  .blog-section h2 {
    margin-bottom: 5px;
  }

  .info {
    font-style: italic;
    font-size: .9em;
  }



.blocks-gallery-grid {
  list-style: none;
  padding: 0;
}

figure {
  margin: 0;
}

.reply {
  margin-top: 40px;
}

.comments {
  list-style: none;
  padding: 0;
}

.comments img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.wp-block-latest-comments__comment-meta>* {
  padding: 0;
  margin: 0;
}

.wp-block-latest-comments__comment {
  display: flex;
  flex-direction: row;
}