

section {
  padding-top: 10px;
}

.blog-section h2 {
  margin-bottom: 5px;
}

.info {
  font-style: italic;
}

.line {
  border: 1px solid var(--turquoise);
}

.blocks-gallery-grid {
  list-style: none;
  padding: 0;
}

figure {
  margin: 0;
}

.reply {
  margin-top: 40px;
}

.comments {
  list-style: none;
  padding: 0;
}

.comments img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.wp-block-latest-comments__comment-meta > * {
  padding: 0;
  margin: 0;
}

.wp-block-latest-comments__comment {
  display: flex;
  flex-direction: row;
}

/*Image modal*/

img {
  cursor: pointer;

}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .9);
}

@keyframes open {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal-image {
  margin: auto;
  display: block;
  width: 80%;
  height: auto;
  max-width: 800px;
  animation-name: open;
  animation-duration: 0.4s;
}

.caption {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 800px;
  text-align: center;
  color: white;
  padding: 10px 0;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.close:hover {
  opacity: .5;
  cursor: pointer;
}
