:root {
    --text-pharagraph-and-buttons: "verdana";
    --text-heading: "Optimus Princeps SemiBold";
    --text-link: "Optimus Princeps";
    --dark-orange: #F25F29;
    --red: #8C3623;
    --light-orange: #F2C0A2;
    --dark-brown: #A66D03;
    --turquoise: #04ADBF;
    --grey: #707070;
  }
  